<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="com.opcoach.e4.modelmerger.eap"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="applicationCSS"
               value="platform:/plugin/com.opcoach.e4.modelmerger.eap/css/default.css">
         </property>
      </product>
   </extension>
   <extension
         id="id1"
         point="org.eclipse.e4.workbench.model">
      <processor
            apply="initial"
            beforefragment="true"
            class="com.opcoach.e4.modelmerger.eap.ModelMergerProcessor">
      </processor>
   </extension>

</plugin>
